<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="name" value="" />      
        <input type="submit" value="Add New Inventory Item"/>
    </form>
</body>
</html>
