@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<Inventory.Web.Objects.InventoryHelpClass>>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<style type="text/css">
        th {
            background-color: #4CAF50;
            color: black;
        }
</style>
<head>
    <title></title>
</head>
<body>
    Inventory Events:
    
    <table>
        <tr>
            <th>GUID</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
            @foreach (var item in Model) {

                <tr>                    
                    <td>@item._guid</td>
                    <td>

                        @item._types

                    </td>
                    <td><a href="~/remove/@item._guid">Delete</a></td>
                </tr>
            }
    </table>

    <a href="/add">Add</a><br />
    <a href="/remove">Remove by GUID</a><br />
    <a href="/getjson">Get JSON</a>
</body>
</html>
