<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/remove" method="post">
        <input type="text" name="id" value="" />      
        <input type="submit" value="Remove Inventory Item"/>
    </form>
</body>
</html>